/* NAVBAR */
.nav {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 110px;
    background: #0a3150;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  .nav,
  .nav .nav-links {
    display: flex;
    align-items: center;
  }

  .nav .nav-links :hover{
    color: #bb9e7f;
  }

  .nav {
    justify-content: space-between;
  }
  a {
    color: #fff;
    text-decoration: none;
    
  }
  .nav .logo {
    font-size: 22px;
    font-weight: 500;
  }
  .nav .nav-links {
    column-gap: 20px;
    list-style: none;
  }
  .nav .nav-links a {
    transition: all 0.2s linear;
  }

  .nav.openSearch .nav-links a {
    opacity: 0;
    pointer-events: none;
  }
  .nav .search-icon {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  .nav .search-box {
    position: absolute;
    right: 250px;
    height: 45px;
    max-width: 555px;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s linear;
  }
  .nav.openSearch .search-box {
    opacity: 1;
    pointer-events: auto;
  }
  .search-box .search-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    left: 15px;
    color: #0a3150;
    transform: translateY(-50%);
  }
  .search-box input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 6px;
    background-color: #fff;
    padding: 0 15px 0 45px;
  }
  
  .nav .navOpenBtn,
  .nav .navCloseBtn {
    display: none;
  }
  
  @media screen and (max-width: 1160px) {
    .nav {
      padding: 15px 100px;
    }
    .nav .search-box {
      right: 150px;
    }
  }
  
  @media screen and (max-width: 950px) {
    .nav {
      padding: 15px 50px;
    }
    .nav .search-box {
      right: 100px;
      max-width: 400px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .nav {
      padding: 15px 20px;
    }
    .nav .navOpenBtn,
    .nav .navCloseBtn {
      display: block;
    }

    .nav .nav-links {
      position: fixed;
      top: 0;
      left: -100%;
      height: 100%;
      max-width: 280px;
      width: 100%;
      padding-top: 100px;
      row-gap: 30px;
      flex-direction: column;
      background-color: #bb9e7f;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      transition: all 0.4s ease;
      z-index: 100;
    }
    .nav.openNav .nav-links {
      left: 0;
    }
    .nav .nav-links :hover{
        color: #e83831;
        font-size: 19px;
      }

    .nav .navOpenBtn {
      color: #fff;
      font-size: 20px;
      cursor: pointer;
    }
    .nav .navOpenBtn:hover{
      color: #bb9e7f;
    }
    .nav .navCloseBtn {
      position: absolute;
      top: 20px;
      right: 20px;
      color: #fff;
      font-size: 20px;
      cursor: pointer;
    }
    .nav .search-box {
      top: calc(100% + 10px);
      max-width: calc(100% - 20px);
      right: 50%;
      transform: translateX(50%);
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }
    .nav .search-icon:hover{
      color: #bb9e7f;
    }
  }
  

  /* HERO */
  .hero {
 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    position: relative;
  }
  
  .hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
   
  }
  
  .hero-content {
    position: relative;
    z-index: 0;
    max-width: 1300px;
    margin: 0 auto;
  }
  
  .hero h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 1.2em;
    margin-bottom: 30px;
  }
  
  .btn {
    display: inline-block;
    background-color: #0a3150;
    color: #fff;
    padding: 10px 20px; 
    text-decoration: none;
    border-radius: 5px; 
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #e83831;
  }

  .btn-products {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e83831;
    color: #fff;
    padding: 10px 20px; 
    text-decoration: none;
    border-radius: 5px; 
    transition: background-color 0.3s ease;
  }
  
  .btn-products:hover {
    background-color: #0a3150;
  }
  
  .social-links{
      padding-top: 40px;
  }
  .social-links a{
      display: inline-block;
      height: 40px;
      width: 40px;
      background-color: rgba(255,255,255,0.2);
      margin:0px 10px 10px 0;
      text-align: center;
      line-height: 40px;
      border-radius: 50%;
      color: #ffffff;
      transition: all 0.5s ease;
  }
  .social-links a:hover{
      color: #ffffff;
      background-color: #e83831;
  }

  

  
  /* FOOTER CSS */
.row-footer{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #0a3150;
  padding-top: 70px;
	margin-top: auto;
  z-index: 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e83831;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color:#bb9e7f;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #ffffff;
	background-color: #bb9e7f;
}


/*Sub-footer*/
.sub-footer {
  background-color: #bb9e7f;
  color: #fff;
  text-align: center;
  padding:5px 0;
margin-top: 55px;
  position: relative;
  bottom: 0;
  width: 100%;
  flex-shrink: 0;
}

.sub-footer-content p {
  margin: 0.5em 0;
}

.sub-footer a {
  color: #fff;
  text-decoration: none;
}


/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}